# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyWPS
custom.cfg
.custom.cfg
*.pid

# C extensions
*.so

# Python / Extensions etc.
*~
*.mo
*.so
*.pyc
*.pyo
*.egg
*.egg-info
*.sqlite
*.bak
__pycache__

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg

# Unit test / Coverage reports
.cache
.pytest_cache
.coverage
.tox


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage/
coverage.xml
*.cover
.hypothesis/
*.log
*.lock
.pytest_cache/
testdata.json

# R
*.Rhistory

# Eclipse / PyDev
.project
.pydevproject
.settings

# PyCharm
*.idea

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
# docs/Makefile
# docs/make.bat
docs/doctrees/
docs/_html/
docs/source/output-sanitize.cfg

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# Dask worker cache
dask-worker-space/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# gcc/fortran
*.o
*.a
*.mod
*.out

# virtualenv
.venv
venv/
ENV/

# Merge conflict
*.orig

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# VSCode
.vscode/

# Eclipse / PyDev
.project
.pydevproject
.settings

# PyCharm
*.idea
