[buildout]
develop = .

# buildout options
show-picked-versions = true
newest = false
download-cache = downloads
versions = versions

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/ 
extensions = buildout.locallib

parts = 
    conda
    emu
    pywps
    ipython
    nose
    docker
      
[settings]
hostname = localhost
http-port = 8094
https-port = 28094
output-port = 8090
log-level = WARN
user = ''

[versions]
zc.buildout= >=2.4.0
buildout.locallib= >=0.3.1
zc.recipe.egg= >=2.0.1
birdhousebuilder.recipe.conda= >=0.2.5
birdhousebuilder.recipe.docker= >=0.3.1
birdhousebuilder.recipe.pywps= >=0.2.6
birdhousebuilder.recipe.nginx= >=0.2.3
birdhousebuilder.recipe.supervisor= >=0.2.5

[conda]
recipe = birdhousebuilder.recipe.conda
pkgs = 
     ipython
     malleefowl

[emu]
recipe = zc.recipe.egg
eggs =
     malleefowl
interpreter = python

[pywps]
recipe = birdhousebuilder.recipe.pywps
sites = emu
user = ${settings:user}
keywords = WPS, PyWPS, Birdhouse, Emu, Python, Test
providerName = Birdhouse/Emu
providerSite = http://emu.readthedocs.org/en/latest/
processesPath = ${buildout:directory}/processes
hostname = ${settings:hostname}
http_port = ${settings:http-port}
https_port = ${settings:https-port}
output_port = ${settings:output-port}
logLevel = ${settings:log-level}

title = Emu
abstract = WPS processes for testing and demos.

[ipython]
recipe = zc.recipe.egg
eggs =
    ipython
    ${emu:eggs}
entry-points =
   ipython=IPython:start_ipython
scripts =
    ipython=ipython

[nose]
recipe = zc.recipe.egg
eggs =
    nose
    ${emu:eggs}
entry-points =
    nosetests=nose:run_exit
scripts =
    nosetests=nosetests

[docker]
recipe = birdhousebuilder.recipe.docker
image-name = birdhouse/bird-base
image-version = latest
description = Emu Web Processing Service Application
version = 0.2.1







 


